.contact-form__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.contact-form__heading {
    margin-bottom: 40px;
    text-align: center;

}

.form {
    margin: 0 auto;
    width: 70%;
    text-align: center;
}

.form__group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.form__groupA {
    display: flex;
    margin-bottom: 15px;
}

.form__label--required {
    margin-left: -3px;
    padding: 4px 0px;
    border-radius: 3px;
    color: #ff0000;
}

.form__error {
    height: 20px;
    color: #ff0000;
    text-align: left;
}

.form__input--text-name input {
    padding: 10px;
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 3px;
    appearance: none;

}

.form__input--text input,
.form__input--textarea textarea {
    padding: 10px;
    width: 600px;
    border: 1px solid #ddd;
    border-radius: 3px;

    appearance: none;
}

.form__input--post input {
    padding: 10px;
    width: 575px;
    border: 1px solid #ddd;
    border-radius: 3px;
    appearance: none;
}

.form__input--text-item {

}

.form__input--item {
    color: #ddd;
    text-align: left;
}



.form__input--radio-plain {
    margin-right: 20px;
    margin-left: 15px;
}

.form__input--radio {
    margin-left: 180px;
}

.form__input--text input {
    height: 40px;
}

.form__input--textarea textarea {
    height: 180px;
}

.form__button {
    margin-top: 30px;
}

.form__button-submit {
    padding: 10px;
    width: 20%;
    height: 50px;
    border: none;
    border-radius: 3px;
    background: #000;
    color: #fff;
    cursor: pointer;
}